@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
  --black: #2c3e50;
  --white: #fff;
  --green: #2ccf6d;
}

#body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !important;
  height: 100%;
}

#body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--black);
  font-size: 1em;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

svg {
  width: 100%;
  visibility: hidden;
}

.h1-404 {
  font-size: 7em !important;
  font-weight: normal !important;
}

.h2-404 {
  margin: 5px 0 0.8rem !important;
  font-weight: normal !important;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 30px;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin: 5px 0px;
  font-size: 1rem;
  line-height: 1.5;
}

.btn.green {
  border: 3px solid var(--green);
  color: var(--black);
}
.btn.green:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn.green:hover {
  color: var(--white);
  background: var(--green);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn.green:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
