/* 定义浅色模式样式 */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --code-background-color: #f8f8f8;
    --content-color: #2c3e50;
    --transparent-background-color: #ffffffcc;
    --theme-color: #42b983;
    --border-color: #eeeeee;
    --mermaid-stroke-color: #333333;
    --mermaid-cluster-color: #ffffde;
  }
}

/* 定义深色模式样式 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #323336;
    --code-background-color: #282828;
    --content-color: #dfdfdf;
    --transparent-background-color: #323336cc;
    --theme-color: #42b983;
    --border-color: #858585;
    --mermaid-stroke-color: #858585;
    --mermaid-cluster-color: transparent;
  }

  img {
    opacity: 0.6 !important;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1 !important;
    transition: opacity .5s ease-in-out;
  }
}
