/* index.html 通过 cdn 引用此 css，因此本地调试时需改回本地路径 */
:root {
  --background-color: #323336;
  --code-background-color: #282828;
  --content-color: #dfdfdf;
  --transparent-background-color: #323336cc;
  --theme-color: #42b983;
  --border-color: #858585;
  --mermaid-stroke-color: #858585;
  --mermaid-cluster-color: transparent;
}

img:not(.medium-zoom-image--opened) {
  opacity: 0.6 !important;
  transition: opacity 0.5s ease-in-out;
}

img:hover:not(.medium-zoom-image--opened) {
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out;
}
