.image-20 {
  width: 20%;
}

.image-30 {
  width: 30%;
}

.image-40 {
  width: 40%;
}

.image-45 {
  width: 45%;
}

.image-49 {
  width: 49%;
}

.image-50 {
  width: 50%;
}

.image-60 {
  width: 60%;
}

.image-70 {
  width: 70%;
}

.image-80 {
  width: 80%;
}

.image-90 {
  width: 90%;
}
