:root {
    --background-color: #ffffff;
    --code-background-color: #f8f8f8;
    --content-color: #2c3e50;
    --transparent-background-color: #ffffffcc;
    --theme-color: #42b983;
    --border-color: #eeeeee;
    --mermaid-stroke-color: #333333;
    --mermaid-cluster-color: #ffffde;
  }